{{ ansible_managed | comment }}
[Unit]
Description=Gunicorn service for CTFd instance
After=network.target

[Service]
User=ctfd
Group=ctfd
WorkingDirectory=/opt/ctfd
ExecStart={{ ctfd_venv_path }}/bin/gunicorn \
    --workers {{ ctfd_gunicorn_workers }} 'CTFd:create_app()' \
    --bind {{ ctfd_bind_address }} \
    --access-logfile {{ ctfd_config_effective.log_folder }}/access.log \
    --error-logfile {{ ctfd_config_effective.log_folder }}/error.log \
    --worker-tmp-dir /dev/shm \
    --worker-class gevent

[Install]
WantedBy=multi-user.target